/*
File: HW1style.css
GUI Assignment: Creating Your First Web Page
This webpage shows the use of images, links, tables, and CSS styling.
Peyton Somerville
9/14/2021
*/

/* Styling for whole page */
body {
    background-color: rgb(0, 231, 95);
	font-family: "Lucida Handwriting", "Brush Script MT", Cursive;
}

/* Styling for headers */
h2 {
    color: blue;
}

/* Styling for pictures */
img.mountain {
    width: 540px;
	height: 360px;
}
img.waterfall {
    width: 580px;
	height: 377px;
}
img.tree {
    width: 551px;
	height: 343px;
}

/* Styling for the matrix addition tables */
p, table {
    font-size: 200%;
}
div.sidebyside {
    display: flex;    /* allows tables to be side by side */
}
table.matrix1, td.m1 {
    color: red;
}
table.matrix2, td.m2 {
    color: purple;
}